<!-- <button style="padding: 20px; color: white; background-color: green;" routerLink="/admin">Load Module admin</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/user">Load Module user</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/shop">Load Module shop</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/menu">Load Module menu</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="">Load Module home</button> -->
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/login1/a">Load  a</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/login1/b">Load b</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/login1/c">Load c</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/login1/d">Load  d</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/signup1/x">Load x</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/signup1/y">Load  y</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="/signup1/z">Load z</button>
<!-- <button style="padding: 20px; color: white; background-color: blue;" routerLink="/newcomponent">Load newcomponent</button> -->
<router-outlet></router-outlet>

<!-- 
<input type="text"
ng2TelInput
[ng2TelInputOptions]="{initialCountry: 'in'}"
(hasError)="hasError($event)"
(ng2TelOutput)="getNumber($event)"
(intlTelInputObject)="telInputObject($event)"
(countryChange)="onCountryChange($event)" /> -->